<html>
    <head>
        <title>Simplified Media Center</title>
    </head>
    
    <!--INCLUDING SOCKET IO-->
    <script src="/socket.io/socket.io.js"></script>
    
    <script>
        var socket = io();

        // Load directory when the page is loaded    
        window.onload = function(){
			search_submit();
            
            // Search box
		    document.getElementById("search_text")
		        .addEventListener("keyup", function(event) {
		        event.preventDefault();
		        if (event.keyCode === 13) {
		            document.getElementById("search_button").click();
		        }
		    });

            // Full screen
    
		    let video = document.getElementById("play_viewer")
		    document.addEventListener("keyup", function(event) {
		        event.preventDefault();
		        if (event.keyCode === 70) {

                    try{
		                video.mozRequestFullScreen();
                    } catch(err){
                        console.log(err);
                    }

                    try{
                        video.webkitEnterFullScreen();
                    } catch(err){
                        console.log(err);
                    }
		        }
		    });

        }

        function load_with_id(id){
            // Load media with the ud
            return function() {
                socket.emit("load_id", id)
            };
        }

        function search_submit(){
            var query = document.getElementById("search_text").value;
            console.log(query);

            socket.emit("query", query)
        }
        
        socket.on("query_res", function(rows){
            var ul = document.getElementById("media_list");
            ul.innerHTML = "";
            
            rows.forEach(function(item){
                // Creating button element
                var li = document.createElement("li");
                var media_button = document.createElement("button");
                media_button.addEventListener('click', load_with_id(item.id));
                
                // Add to stuff 
                media_button.appendChild(document.createTextNode(item.title));
                li.appendChild(media_button);
                ul.appendChild(li);
            });
            // Create button elements from data
        });

        socket.on("play", function(media_url){

            var viewer = document.getElementById("play_viewer");
            var viewer_src = document.getElementById("viewer_source");
            viewer_src.src = media_url;
        
            viewer.load();
        });

    </script>

    <body>
        <div id="media_viewer_container">
            <video id="play_viewer" controls width=400 heigh=600>
                <source id="viewer_source" src="/video/0" type="video/mp4">
            </video> 
        </div>

        <div id="search_bar">
            <input type="text" id="search_text" placeholder="howdy">
            <button type="button" id="search_button" onclick="search_submit()">Search</button>
        </div>

        <div id="media_list_container" style="width: 100%; height: 300px; overflow-y: scroll;">

            <ul id="media_list">
            </ul>

        </div>
    </body>
</html>
