<html>
    <head>
        <title>Simplified Media Center</title>
        <link rel="stylesheet" type="text/css" href="index_style.css">
    </head>
    
    <!--INCLUDING SOCKET IO-->
    <script src="/socket.io/socket.io.js"></script>
    
    <script src="script.js"></script>

    <body>

        <button id="menu_button" onclick="toggle_menu()">Menu <span id="menu_status">&darr;</span></button>
        
        <div id="menu_container">
            <div id="search_bar">
                <input type="text" id="search_text" placeholder="howdy" class="text_input">
                <select id="media_type" name="Media Type">
                    <option value="movies">Movies</option>
                    <option value="series">Series</option>
                </select>
                <button type="button" id="search_button" onclick="search_submit()">Search</button>
            </div>
            
            <div id="edit_popup">
                <span id="media_meta_edit"></span><br>

                <label for="media_title_edit">Title</label>
                <input type="text" id="media_title_edit" placeholder="howdy" value="" name="media_title_edit" class="text_input"> <br>

                <button type="button" id="submit_eidt" onclick="submit_edit()">Submit</button>
                <button type="button" id="cancel_edit" onclick="cancel_edit()">Cancel</button>
            </div>

            <div id="media_list_container">
                <ul id="media_list">
                </ul>

                <ul id="seasons_list">
                </ul>

                <ul id="episodes_list">
                </ul>
            </div>
        </div>
        <br>
        <div id="player_controller">
                <button type="button" id="play_previous" onclick="play_previous()">Previous</button>
                <button type="button" id="play_next" onclick="play_next()">Next</button> <br>
                Autoplay <input type="checkbox" id="autoplay"> 
        </div>

        <div id="media_viewer_container">
            <video id="media_player" controls autoplay width=60%>
                <source id="viewer_source" src="/video/1" type="video/mp4">
                <source id="viewer_source" src="/video/1" type="video/ogg">
            </video> 
            <h3 id="media_title">Howdy</h3>
        </div>
            <div id="media_detail">
                Title: <span id="title_info"></span><br>
                Episode Title: <span id="episode_title_info"></span><br>
                Media Type: <span id="media_type_info"></span><br>
                Series id: <span id="series_id"></span><br>
                Season id: <span id="season_id"></span><br>
                Episode id: <span id="episode_id"></span>
            </div>
        </div>
    </body>
</html>
